### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
# Dependencies and Setup
import pandas as pd


# File to Load (Remember to Change These)
file_to_load = "HeroesOfPymoli/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

FileNotFoundError: [Errno 2] File b'HeroesOfPymoli/purchase_data.csv' does not exist: b'HeroesOfPymoli/purchase_data.csv'

## Player Count

* Display the total number of players

   Total Players
0            576

In [1]:
purchase=len(purchase_data['SN'].unique())
purchase

total=pd.DataFrame({"Total Players": [purchase]})
total

NameError: name 'purchase_data' is not defined

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

   Number of Unique Items Average Price Number of Purchases Total Revenue
0                     183         $3.05                 780     $2,379.77

In [113]:
unique_items=len(purchase_data["Item ID"].unique())
unique_items

average_price = purchase_data["Price"].mean()
average_price

number_purchases=purchase_data["Item Name"].count()
number_purchases

total_revenue=purchase_data["Price"].sum()
total_revenue

summary_table=pd.DataFrame({"Number of Unique Items": [unique_items], "Average Price": [average_price], "Number of Purchases": [number_purchases], "Total Revenue": [total_revenue] })
summary_table.style.format({"Average Price":"${:,.2f}",
                            "Total Revenue":"${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

In [63]:
gender_demo = purchase_data.groupby(['Gender'])

total_count_gender = gender_demo.nunique()["SN"]

percentage_of_players = (total_count_gender / purchase )* 100

gender_demographics = pd.DataFrame({"Percentage of Players": percentage_of_players, "Total Count": total_count_gender})


gender_demographics.index.name = None

gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [77]:
purchase_count = gender_demo["Purchase ID"].count()

average_price= gender_demo["Price"].mean()

total_purchase = gender_demo["Price"].sum()

average_total_purchase = total_purchase/total_count_gender


gender_demographics = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": average_price,
                                    "Total Purchase Value": total_purchase,
                                    "Avg Total Purchase per Person": average_total_purchase})


gender_demographics.index.name = "Gender"


gender_demographics.style.format({"Total Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Total Purchase per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

In [91]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 9999]
group_name = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels = group_name)
purchase_data.head()
age_demo = purchase_data.groupby(["Age Group"])
count_age = age_demo["SN"].nunique()
percent_age = (count_age/purchase)*100
demo_age = pd.DataFrame({"Total Count":count_age, "Percentage of Players":percent_age})
demo_age.index.name = None
demo_age.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

In [96]:
purchase_age_count = age_demo["Purchase ID"].count()
average_purchase_count = age_demo["Price"].mean()
total_purchase_value = age_demo["Price"].sum()
avg_total_per = total_purchase_value/count_age
purchasing_analysis = pd.DataFrame({"Purchase Count":purchase_age_count, "Average Purchase Price":average_purchase_count,"Total Purchase Value":total_purchase_value,"Avg Total Purchase per Person":avg_total_per})
purchasing_analysis.index.name = None
purchasing_analysis.style.format({"Average Purchase Price":"${:,.2f}",
                                   "Total Purchase Value":"${:,.2f}",
                                   "Avg Total Purchase per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [102]:
top_spenders = purchase_data.groupby(["SN"])
pur_count = top_spenders["Purchase ID"].count()
avg_pur_price = top_spenders["Price"].mean()
total_pur_value = top_spenders["Price"].sum()
spenders = pd.DataFrame({"Purchase Count":pur_count,"Average Purchase Price":avg_pur_price,"Total Purchase Value":total_pur_value})
formatted_spenders = spenders.sort_values(["Total Purchase Value"], ascending=False).head()
formatted_spenders.style.format({"Average Purchase Price":"${:,.2f}",
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [106]:
Items = purchase_data[["Item ID","Item Name","Price"]]
Item_popular = Items.groupby(["Item ID","Item Name"])
purchasecount = Item_popular["Price"].count()
value_total = Item_popular["Price"].sum()
item_price = value_total/purchasecount
popular_items=pd.DataFrame({"Purchase Count":purchasecount,"Item Price":item_price,"Total Purchase Value":value_total})
sorted_popular = popular_items.sort_values(["Purchase Count"], ascending=False).head()
sorted_popular.style.format({"Item Price":"${:,.2f}",
                             "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80

In [112]:
sorted_popular = popular_items.sort_values(["Total Purchase Value"],ascending=False).head()
sorted_popular.style.format({"Item Price":"${:,.2f}",
                             "Total Purchase Value":"${:,.2f}"})